<form #employeeForm= "ngForm"(ngSubmit)="saveEmployee(employeeForm)"> 
<div class = "panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <div class="panel-body">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input id="fullName" name="fullName" [(ngModel)]="fullName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" name="phoneNumber" [(ngModel)]="phoneNumber" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input id="email" name="email" [(ngModel)]="email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                    <input name="contact" [(ngModel)]="contact" type="radio" value="email">
                    Email
                    </label>
                    <label class="radio-inline">
                    <input name="contact" [(ngModel)]="contact" type="radio" value="phone">
                    Phone
                    </label>
                </div>
              </div>
          <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                  <label class="radio-inline">
                  <input name="gender" [(ngModel)]="gender" type="radio" value="male">
                  Male
                  </label>
                  <label class="radio-inline">
                  <input name="gender" [(ngModel)]="gender" type="radio" value="female">
                  Female
                  </label>
              </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                    <input name="isActive" [(ngModel)]="checkbox" type="checkbox">
                    Is Active
                    </label>
                </div>
              </div>
              <div class="form-group">
                      <label for="department">
                      Department
                      </label>
                      <select id="department" name="department" [(ngModel)]="department" class="form-control">
                        <option *ngFor="let dept of departments" [value]="dept.id">
                          {{dept.name}}
                        </option>
                        </select>

                  </div>
                  <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dateOfBirth" type="date"  class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="photoPath">Photo Path</label>
                    <input id="photoPath" name="photoPath" [(ngModel)]="photoPath" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary"
                    (click)= "togglePhotoPreview()">{{previewPhoto? "Hide ": "show "}} Preview</button>
                  </div>
                  <div class="form-grup">
                    <img [src] = "photoPath" height="200" width="200" *ngIf="previewPhoto" />
                  </div>
                 
          </div>
    </div>
    
    
    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
</form>
Angular Generated Form Model: {{employeeForm.value | json}}
       